
// Fontes 

$fontPrincipal:Roboto, sans-serif;

// Esquema de cores

$corDeFundo:#f5f6fa;
$corDoHeader:#182C61;
$corDeFonte:#fff;
$corDeButton:#44bd32;

// Breakpoints

$mobile: 767px;
$tablet: 1023px;
