.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, (100% - 2 * $product-gap) / 3);
    column-gap: $product-gap;
    row-gap: $product-row-gap;
    width: 100%;
}

.product-item img {
    width: 100%;
    border-radius: $border-radius-default;
}

@media screen and (max-width: 1023px) {
    .products {
        grid-template-columns: repeat(2, (100% - 1 * $product-gap) / 2);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: $product-item-margin-bottom;
    }
}