// Cores
$background-color: #f5f6fa;
$header-bg-color: #182C61;
$text-color: #fff;
$button-primary-color: #44bd32;
$button-hover-color: #4cd137;

// Espaçamento e dimensões
$container-max-width: 1024px;
$padding-default: 16px 0;
$section-padding: 56px 0;
$product-gap: 1%;
$product-row-gap: 4%;
$product-item-margin-bottom: 32px;
$product-button-padding: 8px 0;
$product-button-margin-top: 8px;
$border-radius-default: 16px;